.league__team
  padding-top 16px
  padding-bottom 120px

.league-page-top
  display flex
  flex-wrap wrap
  align-items center
  max-width 1000px
  margin 0 auto 16px

.league-page-top-metrics
  display flex
  flex-wrap wrap
  flex 5
  min-width 250px

@media (min-width 776px)
  .league-page-top
    gap 60px
    margin-bottom 32px