.selected__player-paper.MuiDialog-paper
  width 90%
  height calc(100% - 64px)

.selected__player-header
  display flex
  background #f0f0f0
  border-bottom 1px solid $borderColor
  height 80px
  label
    font-size 11px
    font-family "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight 300
    letter-spacing 0.2em
    text-transform uppercase
    display block

.selected__player-header-lead
  flex 0 0 auto
  display flex
  flex-direction column
  padding 0 16px
  justify-content center

.selected__player-first-name
  font-weight 100
  text-transform uppercase

.selected__player-last-name
  font-weight 600
  font-size 2em
  text-transform uppercase

.selected__player-header-section
  flex 1
  display flex
  border-right 1px solid $borderColor
  + .selected__player-header-section
    background white

.selected__player-header-item
  flex 1
  font-weight 600px
  font-size 20px
  display flex
  flex-direction column
  justify-content center
  align-items center

.selected__player-main
  display flex
  overflow hidden
  height 100%

.selected__player-menu
  border-right 1px solid $borderColor

.selected__player-body
  flex 1
  padding 24px
  background #f0f0f0
  overflow-y auto
  -webkit-overflow-scrolling touch

.selected__section
  padding 16px
  display flex
  flex-direction column
  max-width 1100px
  margin 0 auto
  border 1px solid $borderColor
  background white
  margin-bottom 16px

.selected__section-header
  flex 1
  height 40px
  display flex
  align-items center
  font-weight 500
  border-bottom 1px solid $borderColor
  font-size 12px

.player__selected-row
  flex 1
  display flex
  height 24px
  line-height 16px
  align-items center
  &:hover
    background #f0f0f0

.selected__player-action
  absolute top 16px right 16px
  width 45px
  height 45px
  display flex
  justify-content flex-end
  padding-top 8px
  padding-right 8px

  &:hover .icon
    fill $accentColor
    cursor pointer
