.players__search
  width 250px
  height 35px
  margin-right 8px
  position relative
  border 1px solid $borderColor
  background white
  display flex
  align-items center

.players__search-input
  height 100%
  width 100%
  padding-left 16px
  font-size 14px
  flex 1
  border 0

.players__search-clear
  flex 0 0 auto
  cursor pointer
  padding 0 4px
  &:hover
    fill red
