.settings__section
  margin-top 16px
  user-select none

.settings__section-row
  flex 1
  display flex

.settings__section-header
  font-size 1.6em
  font-weight 200
  padding 16px 0

.settings__section-title
  font-size 0.9375rem
  flex-basis 33.33%
  flex-shrink 0
  display flex
  align-items center

.settings__section-description
  color rgba(0, 0, 0, 0.54)
  font-size 0.9375rem

.settings__section-action
  flex 1
  display flex
  justify-content flex-end
