.auction-league-stats
  display flex
  align-items stretch
  label
    font-size 10px
    font-family "Inter", "Helvetica", "Arial", sans-serif;
    font-weight 300
    text-transform uppercase
    display block
    padding-bottom 6px

.auction-league-stat
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding 0 16px
  font-weight 800
  flex 0 1 10%


@media (min-width 1000px)
  .auction-league-stat
    flex 0 1 20%