.player__row-opponent
  flex 0 0 60px
  width 60px
  overflow hidden
  display flex
  align-items center
  justify-content flex-end
  border-left 1px solid $borderColor
  background #f0f0f0
  height 100%
  padding 0 5px
  border-right 1px solid $borderColor
