.league__schedule-item
  color $textColor
  .MuiListItemText-primary
    font-size 11px

  .MuiListItemText-secondary
    font-size 10px

  &:not(:last-child)
    border-bottom 1px solid $borderColor
