.draft__pick
  background white
  position relative
  width 80px
  height 84px
  margin-right 3px
  border 1px solid transparent
  border-radius 6px
  flex 0 0 auto
  overflow hidden
  cursor pointer
  
  &:hover
    border-color rgba(0, 0, 0, 0.23)
    background rgba(255, 255, 255, 0.8)
    box-shadow rgba(0, 0, 0, 0.2) 4px 4px 0px 0px
    
  &.active
    border-color $accentColor

  &.user
    background yellow
    border-color black
    border-width 2px

  // Use consolidated position styling mixin
  position-background-mixin()

.draft__pick-player
  flex 1
  padding-left 4px

.draft__pick-player-name
  text-truncate()
  font-weight 900
  &.last
    font-size 15px
    line-height 18px
  &.first
    font-size 11px
    line-height 13px

.draft__pick-num
  font-weight 600
  &.formatted
    absolute top 2px right 4px
    font-size 10px
  &.pick
    absolute top 2px left 4px
    font-size 12px

.draft__pick-main
  flex 1
  padding 24px 0 0
  display flex
  flex-direction column
  height 100%
  justify-content flex-end

.draft__pick-team
  font-size 12px
  flex 0 0 auto
  background white
  height 20px
  display flex
  align-items center
  padding-left 4px

.draft__pick-window
  flex 1
  padding-left 4px
  font-size 12px
  font-weight 800
  text-transform uppercase
  color lighten($textColor, 40)
  &.active
    color $accentColor

.draft__pick-trades
  position absolute
  bottom 2px
  right 2px
  background rgba(0, 0, 0, 0.1)
  color rgba(0,0,0,0.7)
  padding 2px 4px
  border-radius 4px
  font-size 10px
  font-weight 600
  display flex
  align-items center
  gap 2px
  z-index 2
  
  svg
    font-size 12px
