.draft__pick
  background #fafafa
  display flex
  align-items center
  height 46px
  padding 16px
  margin-bottom 16px
  border 1px solid $borderColor
  border-radius 3px

.draft__pick-num
  flex 0 0 40px

.draft__pick-main
  flex 1
