.percentile__chart
  display flex
  border-bottom 1px solid $borderColor
  padding 8px 0

.percentile__chart-title
  flex 0 0 100px
  display flex
  align-items center

.percentile__chart-value
  flex 0 0 60px
  display flex
  align-items center

.percentile__chart-bars
  flex 1
  position relative

.percentile__chart-bar
  height 100%
  background grey
  display inline-block

  &.p25
    background rgba(255,0,0,0.12)

  &.p50
    background rgba(255,0,0,0.05)

  &.p75
    background rgba(255,255,255,0.1)

  &.p90
    background rgba(46, 163, 221, 0.1)

  &.p95
    background rgba(46, 163, 221, 0.3)

  &.p98
    background rgba(46, 163, 221, 0.5)

  &.p99
    background rgba(46, 163, 221, 0.7)

.percentile__chart-player-bar
  position absolute
  top calc(50% - 1px)
  left 0
  height 2px
  background black
