.menu
  a
    text-decoration none
    min-width 45px
    padding 5px 10px
    vertical-align top
    position relative
    font-size 14px
    text-transform capitalize
    color rgba(50,50,50,0.9)
    border-radius $borderRadius
    display inline
    &:hover
      background rgba(200,200,200,0.15)
    &.active
      color $textColorDark
      font-weight 700
