.table__container
  width 100%
  overflow-x auto

.table__row
  position relative
  display flex
  align-items center
  height 55px
  background white
  border-bottom 1px solid $borderColor

.table__head
  align-items center
  height 48px
  border-bottom 1px solid $borderColor
  font-size 11px
  text-transform uppercase
  font-weight 500

.table__cell
  flex 1
  min-width 60px
  display flex
  align-items center
  height 100%
  padding 0 8px
  &.metric
    justify-content flex-end

.table__head .table__cell
  height 100%

.table__row:last-child .table__cell
  border-bottom none

.sticky__column
  position sticky
  left 0
