$textColor = #444
$textColorDark = darken($textColor, 4)

$backgroundColor = #f0f0f0
$accentColor = red

$borderColor = #d0d0d0
$borderColorLight = lighten($borderColor, 90)

$menuWidth = 240px

$successColor = green
$yellowColor = #ff0

$hoverShadow = $borderColor
