$height = 30px

.player__row
  height 100%
  display flex
  flex-direction column

  &.selected .player__row-main
    background lighten($accentColor, 85%)


  .player__watchlist-action
    opacity 0
    &.selected
      opacity 1
  &:hover .player__watchlist-action
    opacity 1

.player__row-main
  display flex
  height $height
  align-items center
  &:hover
    background white

.row__name
.player__row-name
  flex 0 0 100px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  margin-right 48px

.row__single-metric
  flex 0 0 50px

.player__row-action
  flex 0 0 45px
  display flex

.player__row-pos
  flex 0 0 50px
  display flex

.row__action
  flex 0 0 24px
  cursor pointer
  &:hover
    fill $accentColor

.average__row
  border-top 1px solid $borderColor
  border-bottom 1px solid $borderColor
