$height = 30px

.player__row
  height $height
  align-items center
  display flex
  white-space nowrap
  width max-content
  flex-wrap nowrap
  min-width 100%

  &.selected
    background lighten($accentColor, 85%)

  &.fa
    background lighten(orange, 80%)
    .player__row-availability
      color rgba(0,0,0,0.3)

  &.rostered
    background lighten(yellow, 80%)

  &.baseline__player
    border-bottom 2px solid red

  &:hover
    background white

.player__row-lead
  background $backgroundColor
  display inline-flex
  height 100%
  align-items center
  position sticky
  z-index 1
  left 0

.player__row-index
  flex 0 0 25px
  font-size 10px
  width 25px
  padding 0 3px

.row__name
.player__row-name
  flex 0 0 150px
  width 150px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  margin-right 16px
  line-height 20px
  &:hover
    color $accentColor

  .team
    margin-left 4px

.row__text
  width 60px
  justify-content left
  align-items center

.player__row-availability
  flex 0 0 50px
  width 50px
  overflow hidden
  display flex
  justify-content center
  align-items center
  border-left 1px solid $borderColor
  border-right 1px solid $borderColor
  background white
  height 100%

.row__single-metric
  flex 0 0 50px

.player__row-action
  flex 0 0 45px
  width 45px
  display flex
  justify-content center

.player__row-pos
  flex 0 0 50px
  width 50px
  display flex

.player__row-tag
  flex 0 0 45px
  width 45px
  display flex

.row__action
  flex 0 0 24px
  cursor pointer
  &:hover
    fill $accentColor

.average__row
  border-top 1px solid $borderColor
  border-bottom 1px solid $borderColor

.value__inflation
  min-width 25px
  padding 0 4px
  font-size 11px
  &.positive
    color green
  &.negative
    color red

@media (max-width 600px)
  .player__row-name
    flex 1

  .player__row-action
    display none

  .player__row-pos
    width 30px
    flex 0 0 30px

  .player__row-name
    width 60px
    flex 0 0 60px
    margin-right 4px
    font-size 12px

  .player__row-tag
    width 24px
    flex 0 0 24px

@media (min-width 601px)
  .players__header .player__row-action.actions
    display none

  .player__row
    .player__row-action.actions
      display none

    .player__watchlist-action
      opacity 0

    .player__watchlist-action.selected
    &:hover .player__watchlist-action
      opacity 1

    &:hover
      .player__row-action.actions
        display flex
      .player__row-tag
        display none
