.dashboard__draft-picks
  display flex
  flex-wrap wrap

.season__draft-picks-header
  font-family 'IBM Plex Mono', monospace
  padding 4px
  font-size 18px

.season__draft-picks
  padding 16px
  margin 16px
  border-radius 8px
  flex 1 300px
  border 1px solid $borderColor

.draft-pick__team.table__cell
  flex 10
