.player__slot
  height 55px
  display flex
  align-items center
  border-bottom 1px solid $borderColor

  &:hover .player__slot-action
  &.selected .player__slot-action
    opacity 1

.player__slot-slotName
  opacity 50%
  flex 0 0 48px
  font-size 12px

.player__slot-player
  flex 0 0 150px

.player__slot-action
  flex 1
  display flex
  justify-content flex-end
  opacity 0

@media (hover: hover) and (pointer: fine)
  .player__slot .player__slot-action
    opacity 1
