.player__slot
  height 55px
  display flex
  align-items center
  border-bottom 1px solid $borderColor

.player__slot-slotName
  color rgba(0,0,0,0.4)
  flex 0 0 48px
  font-size 12px

.player__slot-player
  flex 0 0 150px

.player__slot-action
  flex 1
  display flex
  justify-content flex-end

@media (max-width 600px)
  .player__slot
    padding 0 8px
