.player__slot
  height 45px
  display flex
  align-items center
  border-bottom 1px solid $borderColor

.player__slot-slotName
  opacity 50%
  flex 0 0 100px

.player__slot-player
  display flex
  flex-direction column
  flex 0 0 150px

.player__slot-player-name
.player__slot-player-info
  flex 1
  width 150px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
