.release__select-player
  display flex
  align-items center

.release__select-player-value
  flex 0 0 40px
  width 40px

.transition__bid-inputs
  display flex
  margin-top 16px
  flex-direction column
  min-width 350px
  .MuiFormControl-root
    margin-bottom 8px
