.league__home.MuiContainer-root
  display flex
  flex-direction column
  margin-top 14px
  margin-bottom 250px
  .MuiAlert-root
    margin-bottom 16px
  .MuiPaper-elevation1
    overflow hidden

.dashboard__section-side
  padding 16px
  thead
    font-weight 700
    font-family 'IBM Plex Mono', monospace
    font-size 11px
  table
    width 100%
    font-size 12px
    td
      padding 8px
      border-bottom 1px solid $borderColor
      &[colspan='3']
        background $borderColor
        text-align center
        font-size 9px
        padding 2px 0
        text-transform uppercase
    + table
      margin-top 16px

.dashboard__section-side-title
  font-weight 500
  text-transform uppercase
  font-size 11px
  margin-bottom 15px

.dashboard__section-header-title
  text-transform uppercase
  text-weight 600
  font-size 14px
  color lighten($textColor, 40%)
  padding 16px 0
