.player__item
  &.selected
    background #fafafa

.player__item-position
  flex 0 0 50px
  display flex

.player__item-name
  flex 0 0 150px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  &.table__cell
    flex 0 0 232px
    background white
    border-right 1px solid #f0f0f0

.player__item-metric
  flex 1
  font-family "DecimaMonoPro",monospace
  font-weight 600

.player__item-action
  flex 0 0 45px
  &.reorder
    cursor row-resize

.player__label-rookie
.player__label-status
  color $accentColor
  font-size 11px
  font-weight 600
  padding-left 2px

.player__label-status
  margin-left 8px
