.league__team-value-deltas
  background white
  border-radius 0.25em
  overflow hidden
  display flex
  width fit-content
  font-family 'IBM Plex Mono', monospace
  flex-direction column
  justify-content stretch

.league__team-value-deltas-item
  padding 4px
  display flex
  align-items center
  justify-content center
  position relative
  height 20px
  flex-direction column
  flex 1

.league__team-value-deltas-items
  margin-top 4px
  display flex
  justify-content stretch
  border-top 1px solid $backgroundColor

.deltas-item-time
  position absolute
  left 8px
  font-size 10px
  color rgba(0, 0, 0, 0.7)

// .deltas-item-amount
//   font-size 10px
//   margin-top 4px

.deltas-item-pct
  font-size 14px
  font-weight 500

@media (max-width 600px)
  .league__team-value-deltas-items
    overflow-x scroll

  .league__team-value-deltas-item
    padding 4px 24px

  .deltas-item-time
    left 4px