.league__team-value-deltas
  background white
  border-radius 16px
  overflow hidden
  display flex
  width fit-content
  font-family 'IBM Plex Mono', monospace
  margin-top 16px

  .league__team-value-deltas-item
    padding 8px
    display flex 
    align-items center
    justify-content center
    position relative
    height 60px
    flex-direction column
    width 80px

.deltas-item-time
  position absolute
  top 2px
  font-size 10px
  color black

.deltas-item-amount
  font-size 10px
  margin-top 4px

.deltas-item-pct
  font-size 16px
  font-weight 500
  padding-top 10px