.league__team-value-over-time
  display flex

  .league__team-current-value
    font-size 22px
    display flex
    align-items center
    justify-content center
    flex-direction column
    padding 0 8px

  .league__team-current-value-label
    font-size: 9px;
    font-family: "Inter", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    display: block;
    padding-bottom: 6px;