$color = lighten(yellow, 92%)

.section.waiver
  background $color
  .table__row
    background $color
  .player__item-name.table__cell
    background $color

.player__item.reordering
  min-width auto
