.player-row-nfl-team
  flex 0 0 60px
  width 60px
  overflow hidden
  display flex
  align-items center
  justify-content space-around
  font-size 12px
  font-weight 600
  text-align center
  line-height 24px