.scoreboard__main
  background #fafafa
  display flex
  align-items flex-start
  border-radius 10px 10px 0 0
  overflow hidden

.scoreboard__empty
  width 100%
  height 100%
  display flex
  justify-content center
  align-items center

.scoreboard__bench
  border-top 1px solid $borderColor
  background white
  padding 8px
  border-radius 0 0 3px 3px
  display flex
  justify-content center

  &:hover
    color red

@media (max-width 600px)
  .scoreboard__bench
    margin-bottom 32px
