.dashboard__bye-week
  display flex
  flex-direction column
  padding 16px

.dashboard__bye-week-row
  display flex
  align-items center

.dashboard__bye-week-row-label
  flex 0 0 50px

.dashboard__bye-week-row-body
  display flex
  padding 8px 0
  flex-wrap wrap
  gap 8px 0

.dashboard__bye-week-row-item
  flex 0 0 auto
  padding 0 4px
  opacity 25%
  &.starter
    opacity 1

  .position
    width 30px
    display inline-flex
    align-items center
    justify-content center

.dashboard__bye-week-pop-label
  padding 8px
  font-weight 600

.dashboard__bye-week-pop-player
  padding 4px 8px
