.scoreboard__player
  display flex
  height 60px
  align-items center

  .player__label-tag
    display none

  &.projection .scoreboard__player-score
    color rgba(0,0,0,0.3)
    font-weight 300

.scoreboard__player-slot
  flex 0 0 60px
  font-size 12px
  font-weight 200
  color lighten(black, 50%)
  display flex

.scoreboard__player-score.metric
  font-size 1em
  flex 0 0 56px
  display flex
  flex-direction column
  align-items center
  justify-content center
  color #2ea3dd
  font-weight 900

.scoreboard__player-projected
  font-size 0.6em
  font-weight 500
  color rgba(0,0,0,0.4)
  margin-top 2px
  padding 2px 5px
  background rgba(0,0,0,0.06)
  border-radius 3px
  line-height 1

.scoreboard__player-body
  flex 1
  display flex
  flex-direction column
  width 100%
  overflow hidden

.away
  .scoreboard__player
    justify-content flex-end
    margin-left 16px
    margin-right 8px
  .scoreboard__player-body
    order 2
  .scoreboard__player-score
    order 3
    align-items flex-end

.home
  .scoreboard__player
    justify-content flex-start
    margin-left 8px
    margin-right 16px
  .scoreboard__player-score
    order 1
  .scoreboard__player-body
    order 2

  .player__name-expanded-main
    justify-content flex-end
    .player__name-expanded-row
    .player__name-expanded-full-name
      display flex
      justify-content flex-end
    .position
      order 3
    .nfl__team
      order 2
    .player__label-game
      order 1

  .player__label-rookie
    order 1
  .player__name-expanded-full-name
    order 2

@media (max-width 600px)
  .scoreboard__player-score.metric
    flex 0 0 30px
    font-size 11px

  .away .scoreboard__player
    margin-left 8px
    margin-right 4px

  .home .scoreboard__player
    margin-left 4px
    margin-right 8px
