.scoreboard__player
  display flex
  height 50px
  border-bottom 1px solid $borderColor
  align-items center

.scoreboard__player-slot
  flex 0 0 50px
  font-size 12px
  font-weight 200
  color lighten(black, 50%)
  display flex

.scoreboard__player-score
  font-size 1.25em

.scoreboard__player-body
  flex 1
  display flex
  flex-direction column

.away
  .scoreboard__player
    justify-content flex-end
    margin-right 8px
  .scoreboard__player-slot
    order 1
  .scoreboard__player-body
    order 2
  .scoreboard__player-score
    order 3

.home
  .scoreboard__player
    justify-content flex-start
    margin-left 8px
  .scoreboard__player-score
    order 1
  .scoreboard__player-body
    order 2
  .scoreboard__player-slot
    order 3
    justify-content flex-end
