.auction__target-header
  display flex
  border-bottom 1px solid $borderColor
  font-size 11px
  font-family 'DecimaMonoPro', monospace
  font-weight bold
  align-items center
  padding-left 4px

.auction__target-header-bye
  flex 0 0 20px
  display flex
  font-size 10px
  align-items center
  border-left 1px solid $borderColor
  justify-content center

.auction__target-header-inflation
  flex 0 0 45px
  padding 8px 0
  background #fafafa
  border-left 1px solid $borderColor
  text-align center
  overflow hidden
  text-overflow ellipsis

.auction__target-header-scarcity
  flex 1
  padding 8px 4px

.auction__target-header-count
  flex 0 0 50px
  padding 8px 4px
  text-align right
