$height = 55px

.matchup
  margin-bottom 8px
  overflow hidden
  border 1px solid #747678
  margin 8px 16px
  flex 1
  min-width 260px

  .team__image
    flex 0 0 36px
    width 36px
    height 36px
    margin 0 8px 0 24px

  .team__name
    flex 1

.matchup__body
  background white

.matchup__home
.matchup__away
  position relative
  height $height
  flex 1
  display flex
  align-items center
  justify-content space-between

.matchup__banner
  position absolute
  background-color $borderColor
  width 48px
  opacity 1
  height $height
  &:after
    position absolute
    content ""
    top 0
    background-color inherit
    height 100%
    width 100%

.matchup__line
  position absolute
  width 8px
  background-color $borderColor
  left 0
  top 0
  bottom 0
