$height = 55px

.matchup
  display flex
  height $height
  align-items center
  margin-bottom 8px

.matchup__week
  flex 0 0 60px
  text-transform uppercase
  color lighten($textColor, 30%)
  font-size 10px

.matchup__body
  flex 1
  display flex
  background white

.matchup__home
.matchup__away
  position relative
  height $height
  flex 1
  width 48%
  border-top 1px solid $borderColor
  padding 8px 32px
  display flex
  align-items center
  justify-content space-between

.matchup__away
  border-right 0
  .matchup__banner
    left 0
    &:after
      right -11%
      transform skewX(20deg)

  .team__image
    margin-left 15%

.matchup__home
  border-left 0
  .matchup__banner
    right 0
    &:after
      left -11%
      transform skewX(-20deg)

  .team__image
    margin-right 15%

.matchup__divider
  flex 0 0 0
  position relative
  height $height

.matchup__versus
  absolute top left -20px
  height $height
  width 40px
  display flex
  justify-content center
  align-items center
  font-family Roboto, sans-serif
  font-size 20px

.matchup__banner
  position absolute
  background-color $borderColor
  width 25%
  height $height - 1px
  &:after
    position absolute
    content ""
    top 0
    background-color inherit
    height 100%
    width 100%

.matchup__line
  position absolute
  bottom 0
  height 3px
  background-color $borderColor
  left 0
  right 0
