.search__filter
  flex 1
  min-width 160px
  max-width 250px
  height 35px
  margin-right 8px
  position relative
  display flex
  align-items center

.search__filter-input
  height 100%
  width 100%
  border-radius 99px
  padding-left 16px
  font-size 14px
  flex 1
  border 0

.search__filter-clear
  flex 0 0 auto
  cursor pointer
  padding 0 4px
  &:hover
    fill red
