.search__filter
  flex 1 0 140px
  height 35px
  position relative
  display flex
  align-items center

.search__filter-input
  height 100%
  width 100%
  border-radius 4px
  padding-left 16px
  font-size 14px
  flex 1
  border 0

.search__filter-clear
  flex 0 0 auto
  cursor pointer
  padding 0 4px
  &:hover
    fill red

@media (min-width 601px)
  .search__filter
    max-width 250px
