.league-transactions
  height 100%
  width 100%

  .ReactVirtualized__List
    padding-bottom 200px

.transactions__filter
  border-bottom 1px solid $borderColor
  display flex

.transactions__body
  height 100%
