.filter
  background #f0f0f0
  padding 16px
  .filter-head
    display flex
    flex-direction column
    margin-right 32px
  .filter-children
    display flex
    flex-direction column
  .MuiFormGroup-root-1
    flex-direction row
