.editable__league-section
  display flex
  .MuiTextField-root.MuiFormControl-root
    flex 1
    margin 8px

.editable__league-body
  padding 8px

.editable__league-section-title
  text-transform uppercase
  text-weight 600
  padding 16px
  font-size 14px
  color lighten($textColor, 20%)
  display flex
  align-items center
