.auction__main-bid
  flex 0 0 auto
  height 60px
  margin 16px 32px
  border 1px solid $borderColor
  background #fafafa
  display flex
  align-items center
  padding 8px

.auction__main-picture
  flex 0 0 80px

.auction__main-player
  flex 1

.auction__main-action
  flex 0 0 auto

.auction__main-timer
  flex 0 0 60px
  background white
  border 1px solid $borderColor
  margin 0 8px
  height 40px
  display flex
  justify-content center
  align-items center
  font-size 16px
