.auction__commissioner-controls
  .MuiBackdrop-root
    z-index 1000

  .MuiSpeedDial-root.MuiSpeedDial-directionUp
    absolute bottom 264px right 16px
    z-index 1001

@media screen and (min-width 1051px)
  .auction__commissioner-controls .MuiSpeedDial-root.MuiSpeedDial-directionUp
    bottom 120px
