.auction__commissioner-controls
  .MuiBackdrop-root
    z-index 1000

  .MuiSpeedDial-root.MuiSpeedDial-directionUp
    absolute bottom ($auctionHeightMobile + 48 + 8 + 16) right 16px
    z-index 1001

  .tooltip-label-pause-on-disconnect
    width 176px

@media screen and (min-width 800px)
  .auction__commissioner-controls .MuiSpeedDial-root.MuiSpeedDial-directionUp
    bottom 160px
