.scoreboard__play-by-play
  height 100%
  width 100%
  min-height 400px
  border 1px solid $borderColor
  border-radius 3px
  overflow hidden

@media (min-width 601px)
  .scoreboard__play-by-play
    width calc(100% - 32px)
    margin-left 32px
