.player-draft__item
  position relative
  display flex
  align-items center
  padding 2px 8px
  line-height 12px
  cursor pointer
  font-weight 900

  &:hover
    color lighten($accentColor, 20)

  &.selected
    background #fafafa
    color $accentColor

  &.drafted
    text-decoration line-through
    font-weight 100

.player-draft__item-name
  flex 1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  padding 0 16px
  line-height 14px

.player-draft__item-metric
  flex 0 0 25px
  display flex
  justify-content flex-end
  font-weight 500

.player-draft__item-index
  flex 0 0 20px
  color lighten($textColor, 40)
  text-align right
