.player-draft__item
  position relative
  display flex
  align-items center
  padding 2px 8px
  line-height 12px
  cursor pointer
  font-weight 900

  &:hover
    color lighten($accentColor, 20)

  &.selected
    background #fafafa
    color $accentColor

  &.drafted
    text-decoration line-through
    font-weight 100

.player-draft__item-name
  flex 0 0 250px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  padding 0 16px

.player-draft__item-metric
  flex 0 0 25px
  display flex
  justify-content flex-end
  font-weight 500
