.team__image
  position relative
  background white
  display flex
  justify-content center
  align-items center
  border-radius 10px
  overflow hidden
  box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12)

.team__image-img
  absolute left top right bottom
  background-size cover
  background-position center
