.team__image
  position relative
  background white
  display flex
  justify-content center
  align-items center
  border 1px solid $borderColor
  min-width 35px
  min-height 35px
  width 35px
  height 35px
  border-radius 10px
  overflow hidden

.team__image-img
  absolute left top right bottom
  background-size cover
  background-position center
