.team__image
  position relative
  background white
  display flex
  justify-content center
  align-items center
  border 1px solid $borderColor
  max-height 90px
  max-width 90px
  min-width 45px
  min-height 45px
  border-radius 10px
  overflow hidden

.team__image-img
  absolute left top right bottom
  background-size cover
  background-position center
