.waiver__report-item
  background white
  margin 8px
  border-radius 12px
  padding 4px

  .MuiTableCell-head
    font-weight 600
    font-family 'IBM Plex Mono', monospace
    font-size 12px

  .player__name
    padding-top 8px

  .table__container
    padding-top 16px

  .reason
    color rgba(0,0,0,0.5)
    font-size 11px

.waiver__report-item-head
  display flex
  align-items center
  .team__name
    flex 1
    font-size 16px
    color rgba(0, 0, 0, 0.54)
    line-height 1.5
    letter-spacing 0.00938em

.waiver__report-item-winning-bid.metric
  flex 1
  font-size 24px
  padding 0 8px
  display flex
  align-items center
  justify-content center

.waiver__report-meta
  flex 5
  .player__name-expanded
    padding 16px 0

.waiver__report-item-alternates
  display flex
  flex-direction column

.waiver__report-item-alt
  display flex
  border-top 1px solid $borderColor
  padding 16px
