.waiver__report-item
  background white
  margin 8px 0
  border-radius 12px
  overflow hidden

  .MuiTableCell-head
    font-weight 600
    font-family 'IBM Plex Mono', monospace
    font-size 12px

  .player__name
    padding-top 8px

  .table__container
    padding-top 16px

  .reason
    color rgba(0,0,0,0.5)
    font-size 11px

.waiver__report-team
  background lighten($backgroundColor, 70%)
  padding 4px 2px
  font-size 12px

.waiver__report-claims
  border-radius 12px
  background lighten($backgroundColor, 50%)
  margin 4px
  overflow hidden

.waiver__report-item-head
  display flex
  align-items center
  .team__name
    flex 1
    font-size 16px
    color rgba(0, 0, 0, 0.54)
    line-height 1.5
    letter-spacing 0.00938em

.waiver__report-item-winning-bid.metric
  flex 0 0 60px
  font-size 24px
  padding 0 8px
  display flex
  align-items center
  justify-content center

.waiver__report-meta
  flex 1
  min-width 0
  padding-left 16px
  .player__name-expanded
    padding 16px 0
