.waiver__report-item
  background white
  margin 8px
  border 1px solid $borderColor
  border-radius 3px
  padding 16px

  .player__name
    padding-top 8px

  .table__container
    padding-top 16px

  .reason
    color rgba(0,0,0,0.5)
    font-size 11px

.waiver__report-item-head
  display flex
  .team__name
    flex 1
    font-size 14px
    color rgba(0, 0, 0, 0.54)
    font-family "Inter", "Helvetica", "Arial", sans-serif
    font-weight 400
    line-height 1.5
    letter-spacing 0.00938em

.waiver__report-item-winning-bid
  flex 0 0 auto
  font-size 1em

.waiver__report-item-alternates
  display flex
  flex-direction column

.waiver__report-item-alt
  display flex
  border-top 1px solid $borderColor
  padding 16px
