.selected__player-matchup
  border-radius 10px
  background white
  margin-bottom 16px
  overflow-y scroll
  margin 16px auto
  max-width 1100px
  display flex
  flex-direction column

.selected__player-matchup-tabs
  border-bottom 3px solid $borderColor

  .MuiTab-root
    min-width 40px

  .MuiTabs-flexContainer
    justify-content center
