.schedule__filter
  border-bottom 1px solid $borderColor
  display flex
  margin-bottom 8px
  align-items center
  padding 8px 0

  .MuiFormControl-root
    margin-right 4px

.schedule__body
  display flex
  flex-direction column
  padding-bottom 120px

.schedule__section-week
  display flex
  justify-content center
  align-items center
  text-transform uppercase
  color lighten($textColor, 30%)
  padding 32px 0 16px
  font-size 16px

.schedule__section-matchups
  display flex
  flex-wrap wrap
