.schedule__filter
  border-bottom 1px solid $borderColor
  padding 8px 0
  display flex
  margin-bottom 8px

.schedule__body
  display flex
  flex-direction column
  padding-bottom 120px

.schedule__section
  margin-bottom 32px
