.trade__select-chip
  display flex

// Ensure proper styling in autocomplete dropdown
.MuiAutocomplete-option
  padding 0 !important
  min-height auto !important

  .trade__select-player
    margin 0
