.scoreboard__slots
  flex 0 0 40px
  background #fafafa
  margin 110px 0 0
  display flex
  flex-direction column
  justify-content center
  align-items center
  padding-bottom 16px

.scoreboard__slots-slot
  flex 0 0 60px
  display flex
  align-items center
  color rgba(0,0,0,0.5)
  font-size 11px

@media (max-width 600px)
  .scoreboard__slots
    flex 0 0 20px
  .scoreboard__slots-slot
    font-size 10px
