.scoreboard__teams
  display flex
  flex-direction column
  margin 16px 0 16px
  overflow hidden
  overflow-x scroll
  border-radius 3px
  background white
  border 1px solid $borderColor

.scoreboard__teams-team
  flex 1
  padding 8px

  &.selected
    background lighten(yellow, 93%)

  + .scoreboard__teams-team
    border-top 1px solid $borderColor
