.scoreboard__teams
  display flex
  flex-direction column
  margin 16px 0 16px
  overflow hidden
  overflow-x scroll
  border-radius 3px
  background white
  box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12)

.scoreboard__teams-team
  flex 1
  padding 8px

  &.selected
    background lighten(yellow, 93%)

  + .scoreboard__teams-team
    border-top 1px solid $borderColor
