.players__table
  absolute left 0px top 0px right 0px bottom 0px
  overflow scroll
  overflow-y scroll
  overflow-x scroll

  .table
    padding-left 0

  .row
    background $backgroundColor
    &.selected
      background lighten($accentColor, 85%)

    &.fa
      background lighten(orange, 80%)
    &.fa .player__row-status-column
      color rgba(0,0,0,0.3)

    &.rostered
      background lighten($yellow, 12%)

    &.baseline__player
      border-bottom 2px solid red

    &.draft-order-1
    &.draft-order-1 .player__row-name-column
      background lighten($red, 12%)
      color white

    &.draft-order-2
    &.draft-order-2 .player__row-name-column
      background lighten($orange, 12%)

    &.draft-order-3
    &.draft-order-3 .player__row-name-column
      background lighten($purple, 12%)
      color white

    &.draft-order-4
    &.draft-order-4 .player__row-name-column
      background lighten($pink, 12%)

    &.draft-order-5
    &.draft-order-5 .player__row-name-column
      background lighten($green, 12%)
      color white

    &.draft-order-6
    &.draft-order-6 .player__row-name-column
      background lighten($cyan, 12%)

    &.draft-order-7
    &.draft-order-7 .player__row-name-column
      background lighten($blue, 12%)
      color white

    &.draft-order-8
    &.draft-order-8 .player__row-name-column
      background lighten($navy, 12%)
      color white

    &.draft-order-9
    &.draft-order-9 .player__row-name-column
      background lighten($lime, 12%)

    &.draft-order-10
    &.draft-order-10 .player__row-name-column
      background lighten($brown, 12%)
      color white

    &.draft-order-11
    &.draft-order-11 .player__row-name-column
      background lighten($mint, 12%)

    &.draft-order-12
    &.draft-order-12 .player__row-name-column
      background lighten($maroon, 12%)
      color white

.players__table-help
  font 500 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  display flex
  align-items center
  gap 8px
  padding 8px
  background rgb(229, 246, 253)
  border-radius 4px
  color rgb(1, 67, 97)
  position sticky
  left 0

  a
    color #f00
    font-weight 900

    &:hover
      border-bottom 2px solid #f00

  .MuiSvgIcon-root
    color rgb(2, 136, 209)

.data-view-request-status-container
  position fixed
  bottom 20px
  left 50%
  transform translateX(-50%)
  max-width 300px
  width 100%
  text-align center
  z-index 1000
  background white
  border 1px solid $borderColor
  box-shadow $box_shadow
  height 40px
  display flex
  align-items center
  justify-content center
  border-radius 4px
  font-size 14px
  font-weight 500
  color $textColor
  opacity 0.8

  &.error
    color red
    border-color red