.league-team-section-side
  padding 16px
  thead
    font-weight 700
    font-family 'IBM Plex Mono', monospace
    font-size 11px
  table
    width 100%
    font-size 12px
    td
      padding 8px
      border-bottom 1px solid $borderColor
      &[colspan='3']
        background $borderColor
        text-align center
        font-size 9px
        padding 2px 0
        text-transform uppercase
    + table
      margin-top 16px

.league-team-main
  .MuiGrid-root.MuiGrid-item
    display flex
    justify-content center

.league-team-draft-picks
  flex 1
  max-width 800px

.league-team-section-side-title
  font-weight 500
  text-transform uppercase
  font-size 11px
  margin-bottom 15px
