## draft notifications
1 4 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/notifications-draft.js > /var/log/notifications-draft.log 2>&1

## import weekly projections
# 0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-pff-projections.js > /var/log/import-pff.log 2>&1
# 0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-fftoday-projections.js > /var/log/import-fftoday.log 2>&1
0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-nfl-projections.js > /var/log/import-nfl.log 2>&1
# 0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-cbs-projections.js > /var/log/import-cbs.log 2>&1
# 0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-espn-projections.js > /var/log/import-espn.log 2>&1
# 0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-fantasysharks-projections.js > /var/log/import-fantasysharks.log 2>&1
# 0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-fbg-projections.js > /var/log/import-fbg.log 2>&1
# 0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-ffn-projections.js > /var/log/import-ffn.log 2>&1
# 0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-numberfire-projections.js > /var/log/import-numberfire.log 2>&1
# 0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-4for4-projections.js > /var/log/import-4for4.log 2>&1

## import season projections
0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-cbs-projections.js --season > /var/log/import-cbs-season.log 2>&1
0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-espn-projections.js --season > /var/log/import-espn-season.log 2>&1
0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-fantasysharks-projections.js --season > /var/log/import-fantasysharks-season.log 2>&1
0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-fftoday-projections.js --season > /var/log/import-fftoday-season.log 2>&1
0 0 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-nfl-projections.js --season > /var/log/import-nfl-season.log 2>&1

## process projections & generate vorp, market salary
30 * * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/process-projections.js > /var/log/process-projections.log 2>&1

## At 02AM Everyday
0 2 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-sleeper-players.js > /var/log/import-sleeper.log 2>&1

## At 8PM Everyday
# 0 20 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-sleeper-players.js > /var/log/import-sleeper.log 2>&1

## At 8PM on Monday
# 0 20 * * 1 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-mfl-players.js > /var/log/import-mfl-players.log 2>&1

## At 8PM Everyday
# 0 20 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-mfl-injuries.js > /var/log/import-mfl-injuries.log 2>&1

## At 03:55 on Tuesday (11:55 ET on Monday)
# 55 23 * * 1 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/generate-rosters.js > /var/log/league-generate-rosters.log 2>&1

## 10pm everynight
# 0 22 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-rotowire-practice-report.js > /var/log/import-practice-report.log 2>&1

## Import football outsiders dvoa at 12:00 from Thursday to Saturday.
# 0 12 * * 4-6 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/import-football-outsiders.js > /var/log/import-football-outsiders.log 2>&1

## Update NFL Schedule At 03:00 on every day-of-week from Tuesday through Thursday.
# 0 3 * * 2-4 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-games.js > /var/log/import-games.log 2>&1

################################### RANKINGS ########################################

## At 00:00 on Wednesday and Saturday
# 0 0 * * 3,6 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-fantasypros-dynasty.js > /var/log/import-fantasypros-dynasty.log 2>&1

## Import weekly rankings
## Import draft rankings

################################### Odds ########################################

## Import Every 15 Minutes
# */15 * * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-draftkings-odds.js > /var/log/import-draftkings.log 2>&1
# */15 * * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-betonline-odds.js > /var/log/import-betonline.log 2>&1

################################### Waivers ########################################

## Process Poaching Waivers Every 15 Minutes
*/15 * * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/process-poaching-waivers.js > /var/log/league-process-poaching-waivers.log 2>&1

## Process Free Agency Waivers / Practice - Every 10 minutes
5-59/10 * * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/process-waivers-free-agency-practice.js > /var/log/league-waivers-free-agency-practice.log 2>&1

## Process Free Agency Waivers / Active
## At every 5th minute on Monday.
# */5 * * * 1 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/process-waivers-free-agency-active.js > /var/log/league-waivers-free-agency-active.log 2>&1

## At 15:00 on Wednesday.
# 0 15 * * 3 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/process-waivers-free-agency-active.js > /var/log/league-waivers-free-agency-active.log 2>&1

## At every 5th minute past every hour from 15 through 23 on Wednesday.
# */5 15-23 * * 3 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/process-waivers-free-agency-active.js > /var/log/league-waivers-free-agency-active.log 2>&1

## At every 5th minute on every day-of-week from Thursday through Sunday.
# */5 * * * 4-7 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/process-waivers-free-agency-active.js > /var/log/league-waivers-free-agency-active.log 2>&1

## Process Poaching Claims Every Hour
0 */1 * * * NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/process-poaching-claims.js > /var/log/league-process-poaching-claims.log 2>&1

################################### Backup ########################################

## Backup User Data
*/5 * * * * /bin/bash /root/league/scripts/mysql-backup.sh > /var/log/league-mysql-backup.log 2>&1

## Backup All Data (Tuesday and Saturday)
0 0 * * 2,6 /bin/bash /root/league/scripts/mysql-backup.sh -f > /var/log/league-mysql-backup-full.log 2>&1


################################### Live Game Plays ########################################

in/node /root/league-data/scripts/import-nfl-game-detail-ids.js > /var/log/league-import-nfl-game-detail-ids.log 2>&1

## At every minute past every hour from 18 through 23 on Thursday.
# */1 20-23 * * 4 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-plays-nfl.js > /var/log/league-import-plays-nfl.log 2>&1

## At every 15th minute past every hour from 19 through 20 on Monday
# */15 16-20 * * 1 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-nfl-game-detail-ids.js > /var/log/league-import-nfl-game-detail-ids.log 2>&1

## At every minute past every hour from 19 through 23 on Monday.
# */1 17-23 * * 1 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-plays-nfl.js > /var/log/league-import-plays-nfl.log 2>&1

## At every minute past every hour from 19 through 23 on Tuesday.
# */1 19-23 * * 2 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-plays-nfl.js > /var/log/league-import-plays-nfl.log 2>&1

## At every 15th minute on Saturday.
# */15 * * * 6 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-nfl-game-detail-ids.js > /var/log/league-import-nfl-game-detail-ids.log 2>&1

## At every minute on Saturday.
# */1 13-23 * * 6 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-plays-nfl.js > /var/log/league-import-plays-nfl.log 2>&1

## At every minute on Friday.
# */1 13-23 * * 5 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-plays-nfl.js > /var/log/league-import-plays-nfl.log 2>&1

################################### Finalize Game Plays ########################################

## At 01:00 on Tuesday.
# 0 1 * * 2 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-plays.js --final > /var/log/league-import-plays.log 2>&1
# 0 1 * * 2 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league-data/scripts/import-plays-nfl.js --final > /var/log/league-import-plays-nfl.log 2>&1

## At 01:15 on Tuesday.
# 15 1 * * 2 NODE_ENV=production /root/.nvm/versions/node/v12.18.1/bin/node /root/league/scripts/process-play-stats.js > /var/log/league-process-play-stats.log 2>&1
