.roster
  flex 1
  padding 0 8px
  border-right 1px solid $borderColor
  width 170px

.roster__team
  background darken($backgroundColor, 7%)
  padding 8px
  display flex

  .team__name
    flex 1

.roster__salary
  flex 0 0 auto
