.markdown
  padding 16px
  margin-bottom 150px
  font 400 14px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
  margin 0 auto
  max-width 1300px

  &.max-width-1150
    margin 0 auto
    max-width 1150px

  p
    padding-bottom 16px
  ul
    list-style-type none
    padding-left 16px
    ul
      margin-block-start 16px
      padding-left 32px
  a
    color $accentColor
    font-weight 700
    font-family 'IBM Plex Mono', monospace
    border-bottom none
    &:hover
      font-weight 900
      border-bottom 1px solid $accentColor
  li
    padding-bottom 8px
  a:hover
    color $accentColor

  h1
  h2
  h3
  h4
  h5
  h6
    font-family 'IBM Plex Mono', monospace

  h1
  h2
  h3
    margin-top 1.4em
    font-size 1.875em
  h4
  h5
  h6
    margin-top 1em
    font-size 1.25em

  table
    width 100%
    padding 8px
    font-family 'Inter', sans-serif
    margin 0 auto 16px
    background white
    box-shadow 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
    border-radius 3px

    code
      white-space nowrap

  tr
    min-height 30px

  th
    text-align start
    padding 4px 16px
    border-bottom 1px solid $borderColor
    font-family 'IBM Plex Mono', monospace
    font-weight 900

  td
    padding 4px 16px
    border-bottom 1px solid $borderColor
    height 36px

  pre
    background white
    border 1px solid $borderColor
    border-radius 8px
    padding 16px 0 16px 16px
    margin 16px 0
    overflow-x scroll
    white-space break-spaces

  code:not(pre > code)
    background white
    border 1px solid $borderColor
    border-radius 6px
    padding 4px
    white-space nowrap

@media (min-width: 960px)
  .markdown
    align-items flex-start
    flex-direction row-reverse
    display flex

    .table-of-contents
      position fixed
      top 0
      bottom 0
      overflow-y scroll
      width 256px
      padding-top 48px

    .body
      margin-right 288px
