.auction__targets-head
  display flex
  justify-content flex-end
  align-items center
  padding 16px

.auction__targets-body
  display flex
  flex-flow column wrap
  height 1200px
  padding 0 8px
  align-content space-between

  &:before
  &:after
    content ''
    flex-basis 100%
    width 0
    order 2

.auction__targets-section
  width 31%
  margin 0 1% 2%
  background white
  border 1px solid $borderColor

.auction__targets-section:nth-child(3n+1)
  order 1
.auction__targets-section:nth-child(3n+2)
  order 2
.auction__targets-section:nth-child(3n)
  order 3

.auction__targets-player
  display flex
  border-right 4px solid transparent

  &.optimal
    border-right 4px solid $accentColor

  .player__watchlist-action
    opacity 0
  &:hover .player__watchlist-action
    opacity 1

  &.rostered
    background lighten(green, 93%)
    font-weight bold

.optimal__lineup-key
  background white
  border 1px solid $borderColor
  color $accentColor
  border-right 4px solid $accentColor
  height 35px
  display flex
  align-items center
  padding 8px
  text-transform uppercase
  margin-left 8px

.auction__targets-player-cost
  padding 8px
  background #fafafa
  border-right 1px solid $borderColor
  margin-right 8px
  flex 0 0 45px

.auction__targets-player-meta
  width 100px
