.selected__player-schedule
  border-radius 10px
  background white
  margin-bottom 16px
  overflow-y scroll
  margin 16px auto
  max-width 1200px
  display flex
  flex-direction column

.selected__player-schedule-tabs
  border-bottom 3px solid $borderColor

  .MuiTab-root
    min-width 40px
