.probability_leverage_chart
  width 100%
  margin-bottom 40px
  background white
  padding 20px
  border-radius 10px

.chart_explanation
  border 1px solid $borderColor
  padding 10px
  border-radius 5px
  font-size 13px
  line-height 1.5
