.scoreboard__main
  background #fafafa
  display flex
  align-items flex-start
  border-radius 3px 3px 0 0
  border 1px solid $borderColor
  overflow hidden

.scoreboard__menu
  padding 32px 0 0

.scoreboard__team-roster
  background white
  border-bottom 3px solid $borderColor

.scoreboard__team-bench
  background #fafafa

.scoreboard__bench
  background #e0e0e0
  padding 4px
  border-radius 0 0 3px 3px
  border 1px solid $borderColor
  border-top 0
  display flex
  justify-content center

  &:hover
    color red

@media (max-width 600px)
  .scoreboard__bench
    margin-bottom 32px
