.settings__switch
  display flex
  flex 1
  padding 8px
  border-bottom 1px solid $borderColor

.settings__switch-body
  flex 1
  display flex
  flex-direction column
  padding-right 16px

.settings__switch-body-label
  font-weight 600

.settings__switch-body-description
  padding-top 8px
  color lighten($textColor, 30%)
