.forgot-password
  display flex
  height 100%
  justify-content center
  align-items center
  font-family 'IBM Plex Mono'

.forgot-password__main
  flex 2
  display flex
  flex-direction column
  height 100%
  justify-content center
  align-items center
  width 250px
  margin 0 auto

.forgot-password__message
  margin-bottom 16px
  text-align center

.forgot-password__error
  color $red
  text-align center

.forgot-password__toggle
  margin-top 16px
  font-weight 500

form#forgot-password
  display flex
  flex-direction column
  width 250px
  .MuiFormControl-root
  button
    margin-top 16px
