.roster__item
  display flex
  align-items center
  border-bottom 1px solid $borderColor
  height 30px

  .roster__item-action
    display none

  &:hover .roster__item-action
    display flex

  &.selected
    background lighten($accentColor, 85%)

.roster__item-name
  flex 1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.roster__item-metric
  flex 0 0 30px
