.roster__item
  display flex
  align-items center
  border-bottom 1px solid $borderColor
  height 30px
  padding 0 8px

  .roster__item-action
    display none

  &:hover
    background white
    .roster__item-action
      display flex
    .roster__item-salary
    .player__name-label
      display none

  &.practice
    background lighten(yellow, 85%)

  &.reserve
    background lighten(red, 90%)

  &.selected
    background lighten($accentColor, 85%)

.roster__item-name
  flex 1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  display flex
  align-items center
  padding-right 4px

.roster__item-metric
  flex 0 0 30px
