.scoreboard__score-team
  display flex
  line-height 20px
  .team__name
    flex 1
  + .scoreboard__score-team
    margin-top 2px

.scoreboard__score-proj
  flex 0 0 45px
  background #fafafa
  color rgba(0,0,0,0.4)
  font-size 11px
  border-right 1px solid $borderColor
  display flex
  justify-content flex-end
  padding 0 4px

.scoreboard__score-score
  flex 0 0 45px
  background #f0f0f0
  font-size 12px
  display flex
  justify-content flex-end
  padding 0 4px
