.scoreboard__score-team
  display flex
  line-height 20px
  align-items center
  .team__name
    flex 1
  + .scoreboard__score-team
    margin-top 2px

.scoreboard__score-proj.metric
  flex 0 0 36px
  background #f0f0f0
  color rgba(0,0,0,0.6)
  font-size 12px
  display flex
  justify-content center
  align-items center
  padding 0 2px

.scoreboard__score-optimal.metric
  flex 0 0 36px
  background #e8f4e8
  color rgba(0,100,0,0.7)
  font-size 12px
  display flex
  justify-content center
  align-items center
  padding 0 2px

.scoreboard__score-score
  flex 0 0 40px
  font-weight 600
  font-size 12px
  display flex
  justify-content flex-end
  padding 0 4px

.scoreboard__score-minutes
  flex 0 0 60px
  color rgba(0,0,0,0.4)
  font-size 10px
  display flex
  justify-content flex-end
  padding 0 4px

.scoreboard__score-diff
  flex 0 0 76px
  color rgba(0,0,0,0.4)
  font-size 10px
  display flex
  justify-content flex-end
  padding 0 4px
