.auth
  display flex
  height 100%
  justify-content center
  align-items center
  font-family 'IBM Plex Mono'

.auth__main
  flex 2
  display flex
  flex-direction column
  height 100%
  justify-content center
  align-items center

.auth__toggle
  margin-top 16px
  cursor pointer
  font-weight 500

  &:hover
    color $accentColor
    border-bottom 1px solid $accentColor

form#auth
  display flex
  flex-direction column
  width 250px
  .MuiFormControl-root
  button
    margin-top 16px