.dashboard
  display flex
  flex-direction column
  margin-top 32px
  margin-bottom 250px
  .MuiAlert-root
    margin-bottom 16px

.dashboard__section-side
  padding 16px
  table
    width 100%
    font-size 12px
    td
      padding 8px
      border-bottom 1px solid $borderColor

.dashboard__section-side-title
  font-weight 100
  text-transform uppercase
  font-size 11px

.dashboard__section
  padding 16px
  background white
  border 1px solid $borderColor
  border-radius 3px
  + .dashboard__section
    margin-top 16px

.dashboard__section-header-title
  text-transform uppercase
  text-weight 600
  font-size 14px
  color lighten($textColor, 40%)
  padding 16px 0

.dashboard__section-body-header
  display flex
  align-items center
  height 25px
  border-bottom 1px solid $borderColor
  border-top 1px solid $borderColor
  font-size 11px
  text-transform uppercase
  font-weight 500
