.settings__teams-team-player
  display flex
  align-items center

.settings__teams-team-player-value
  background #fafafa
  padding 16px 4px
  border-right 1px solid $borderColor
  flex 0 0 50px
  margin-right 8px
  justify-content center
  display flex
  font-family "DecimaMonoPro", monospace
