.player__label
  flex 0 0 auto
  display inline-block
  height 16px
  line-height 16px
  padding 0 4px
  font-size 10px
  font-weight 600
  color black

  .MuiSvgIcon-root
    font-size 11px

  + .player__label
    margin-left 4px

.player__label-rookie
.player__label-game
  color $accentColor
  font-size 11px
  font-weight 600
  padding-left 2px

.player__label-game
  margin-left 8px

.player__label-rookie
  top 0.5em

.player__label-tag
  background #fafafa
  border 1px solid $borderColor
  border-radius 3px

.player__label-status
  color $accentColor
  font-size 11px
  font-weight 600
