.player__filter-dropdown-item.selected
  &.draft-order-1
    background lighten($red, 4%)
    color white

  &.draft-order-2
    background lighten($orange, 4%)

  &.draft-order-3
    background lighten($purple, 4%)
    color white

  &.draft-order-4
    background lighten($pink, 4%)

  &.draft-order-5
    background lighten($green, 4%)
    color white

  &.draft-order-6
    background lighten($cyan, 4%)

  &.draft-order-7
    background lighten($blue, 4%)
    color white

  &.draft-order-8
    background lighten($navy, 4%)
    color white

  &.draft-order-9
    background lighten($lime, 4%)

  &.draft-order-10
    background lighten($brown, 4%)
    color white

  &.draft-order-11
    background lighten($mint, 4%)

  &.draft-order-12
    background lighten($maroon, 4%)
    color white
