.notices-container
  border 1px solid $borderColor
  border-radius 5px
  transition background-color $smooth_transition,box-shadow $smooth_transition,border $smooth_transition

  &:hover
    border-color $borderColor
    background white
    box-shadow $box_shadow

  .MuiPaper-root
    border-radius 0
    + .MuiPaper-root
      border-top 1px solid $borderColor

  &.-expanded
    .notices-toggle
      border-bottom 1px solid $borderColor

.notices-toggle
  padding 16px
  cursor pointer
  font-weight 600

  &:hover
    color red
