.status-success-summary
.status-error-summary
  display flex
  align-items center
  gap 10px

.status-success-title
.status-error-title
  font-size 1.5em
  font-family 'IBM Plex Mono'
  font-weight 600
  
.status-success-summary
  color #3bd671

.status-error.MuiAccordionSummary-root
  background #FFCD60