.trade__player
  display flex
  border-bottom 1px solid $borderColor
  align-items center
  padding 16px 0

.trade__player-name
  flex 1
  min-width 0

.trade__player-metric
  flex 0 0 50px
  display flex
  flex-direction column
  align-items center
  label
    font-size 11px
    padding-bottom 4px
    color rgba(0,0,0,0.5)
