.auction
  display flex
  height 100%

.auction__players
  flex 1

.auction__main
  flex 3
  border-left 1px solid $borderColor
  border-right 1px solid $borderColor
  display flex
  flex-direction column

.auction__main-bid
  flex 0 0 auto
  height 100px
  margin 32px
  border 1px solid $borderColor
  background #fafafa

.auction__main-board
  flex 1

.auction__log
  flex 1
