.player__name-expanded
  align-items center
  display flex
  flex-direction column

.player__name-expanded-row
  flex 1
  width 150px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  line-height 20px
