.player__row-status-column
  flex 0 0 50px
  width 50px
  overflow hidden
  display flex
  justify-content center
  align-items center
  border-right 1px solid $borderColor
  background white
  height 100%