.editable__teams-team
  padding 8px
  border-bottom 1px solid $borderColor
  display flex
  align-items center
  min-height 61px

.editable__teams-team-body
  flex 1

.editable__teams-action
  justify-content flex-end
  padding 8px 0

.editable__teams-team-action
  flex 0 0 auto
