.settings
  max-width 850px
  margin 0 auto

.settings__section
  margin-top 16px
  border 1px solid $borderColor
  background #fafafa
  border-radius 3px
  user-select none

.settings__section-head
  text-transform uppercase
  text-weight 600
  font-size 14px
  color lighten($textColor, 40%)
  padding 16px
  border-bottom 1px solid $borderColor

.settings__section-body
  padding 8px

.settings__help
  padding 8px 16px
  color lighten($textColor, 30%)
  line-height 20px
