.auction__player
  display flex
  height 25px
  margin 0 16px
  border-bottom 1px solid $borderColor
  align-items center
  cursor pointer

  &.signed
    text-decoration line-through
    font-weight 100
    color lighten($textColor, 40%)

  &.watchlist
    background lighten(yellow, 30%)

  .auction__player-action
    .icon
      opacity 0
    .selected .icon
      opacity 1

  &.selected
    background lighten($accentColor, 85%)

  &:hover
    background #fafafa
    .auction__player-action .icon
      opacity 1

.auction__player-index
  flex 0 0 40px

.auction__player-position
  flex 0 0 40px
  display flex

.auction__player-name
  flex 1
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

.auction__player-metric
  flex 0 0 30px
