.trade__menu
  flex 1
  height 100%
  background white
  margin 24px 16px
  border-radius 8px
  font-family 'IBM Plex Mono', monospace
  font-weight 600
  font-size 15px

.trade__menu-item
  padding 8px
  cursor pointer
  display flex
  border-top 1px solid #f0f0f0
  &:hover
    background #f0f0f0
  &.selected
    color $accentColor
    font-weight bold

.trade__id
  min-width 50px

.trade__menu-head
  padding 8px
  font-weight 600
  display flex
  justify-content center
  align-items center
