.auction-slow-mode-status
  margin-right 10px
  background: red
  color: white
  padding: 4px 8px
  font-size: 12px
  font-weight: bold
  text-transform: uppercase
  text-orientation: upright
  height fit-content