.column-param-output
  display flex
  align-items center
  flex-wrap wrap
  gap 4px

.column-param-output__threshold-value
  width 90px

  .MuiInputBase-input
    font-size 0.6875rem
    padding 6px 8px

  .MuiInputLabel-root
    font-size 0.6875rem
