.auction__transaction
  display flex
  border-bottom 1px solid $borderColor
  height 30px
  align-items center
  padding 4px

  &.signed
    background white
    .MuiSvgIcon-root
      fill $successColor


.auction__transaction-type
  flex 0 0 30px
  font-size 12px

.auction__transaction-value
  flex 0 0 30px
  font-size 12px

.auction__transaction-player
  flex 1
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
  line-height 14px

.auction__transaction-team
  flex 0 0 80px
  flex 0 0 50px
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
