.players__head
  flex 1
  display flex
  flex-direction column
  width 100%

.players__head-expand
  flex 0 0 auto
  display flex
  align-items center
  cursor pointer
  padding 0 16px
  .icon
    transition opacity 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,transform 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
    border-radius 99em
  &:hover .icon
    background white

.players__head-actions
  flex 1
  display flex
  justify-content flex-end

.players__filters
  flex 0 0 auto
  display flex
  flex-direction column
  width 100%

  &.expanded .players__head-expand .icon
    transform rotate(180deg)

.players__filters-row
  flex 0 0 auto
  border-bottom 1px solid $borderColor
  padding 0px 32px
  display flex
  align-items center
  flex-wrap wrap
  >
    .search__filter
    .players__view-menu
    .players__head-expand
    .players__head-actions
      margin 8px 4px

.players__header
  position sticky
  top 0
  flex 1
  z-index 2
  background $backgroundColor
  width max-content
  min-width 100%
  height 45px
  display flex
  align-items center
  font-weight 500
  border-bottom 1px solid $borderColor

.row__group
.player__row-group
  flex 1 0 auto
  display inline-flex
  flex-direction column
  justify-content center
  align-items center
  height 100%
  + .row__group
  + .player__row-group
      border-left 1px solid $borderColor

.row__group-head
.player__row-group-head
  font-family 'IBM Plex Mono', monospace
  font-weight 800
  flex 0 0 auto
  text-transform uppercase
  font-size 10px
  padding 4px
  border-bottom 1px solid $borderColor
  width 100%
  text-align center

.row__group-body
.player__row-group-body
  flex 1
  display flex
  justify-content space-evenly
  align-items stretch
  width 100%

.players__table
  overflow scroll
  height 100%
  width 100%

.players__view-menu
  flex 1 0 150px
  max-width 250px


@media (max-width 600px)
  .players__head-actions
    display none

  .players__head-expand
    flex 1
    display flex
    justify-content flex-end

  .players__filters-row
    padding 0 4px

@media (min-width 601px)
  .players__filters-row > .players__view-menu
    margin 8px 4px 8px 16px
