.players
  padding 0 32px

.players__head
  flex 1
  display flex
  flex-direction column

.players__filter
  flex 0 0 auto
  background #fafafa
  border-bottom 1px solid $borderColor
  padding 8px 32px
  display flex

.players__header
  flex 1
  height 40px
  margin 0 32px
  display flex
  align-items center
  font-weight 500
  border-bottom 1px solid $borderColor

.row__group
.player__row-group
  flex 1
  display flex
  flex-direction column
  justify-content center
  border-left 1px solid $borderColor
  align-items center
  height 100%

.row__group-head
.player__row-group-head
  flex 0 0 auto
  text-transform uppercase
  font-size 10px
  padding 4px
  border-bottom 1px solid $borderColor
  width 100%
  text-align center

.row__group-body
.player__row-group-body
  flex 1
  display flex
  justify-content center
  align-items center
