.trade__summary-section
  margin-top 30px
  .MuiTableCell-alignRight .metric
    text-align right

  .MuiTableCell-head
    font-weight 600
    font-family 'IBM Plex Mono', monospace
    font-size 18px

.trade__percentage
  font-weight 600
  font-family 'IBM Plex Mono', monospace

  &.positive
    color rgb(46, 163, 221)
  &.negative
    color red
    &.warning
      color grey
