.league__schedule
  fixed left 16px
  font-size 11px
  font-weight 700
  cursor pointer
  &:hover
    color $accentColor

.league__schedule-item
  padding 8px 16px
  font-family monospace
  font-size 11px
  display flex
  align-items left
  min-width 275px
  flex-direction column

  &:not(:last-child)
    border-bottom 1px solid $borderColor

.league__schedule-item-date
  flex 1
  margin-top 8px
  font-family 'IBM Plex Mono', monospace
  font-size 10px

.league__schedule-item-body
  flex 1

@media screen and (max-width 1050px)
  .league__schedule
    display none
