.auction__team-rosters
  flex 2
  border 1px solid $borderColor
  background white
  padding 16px 8px
  max-height 60%
  overflow hidden
  .MuiFormControl-root
    width 100%
    margin-bottom 8px

.auction__team-rosters-player
  border-bottom 1px solid $borderColor
  padding 8px 4px


.auction__team-rosters-body
  height 100%
