.draft
  display flex
  height 100%

.draft__players
  flex 1
  background #fafafa

.draft__main
  flex 4
  border-left 1px solid $borderColor
  border-right 1px solid $borderColor
  display flex
  flex-direction column

.draft__main-board
  flex 1
  border-bottom 1px solid $borderColor
  display flex
  height 50%

.draft__main-board-pos
  flex 1
  overflow hidden
  overflow-y scroll
  + .draft__main-board-pos
    border-left 1px solid $borderColor

.draft__main-trade
  flex 1
  height 50%

.draft__side
  flex 1
  display flex
  flex-direction column

.draft__side-top
  flex 0 0 auto
  height 150px
  background #fafafa
  padding 16px
  border-bottom 1px solid $borderColor

.draft__side-main
  flex 9
