.draft
  display flex
  height 100%

.draft__selected
  flex 1
  background #fafafa
  display flex
  flex-direction column

.draft__selected-head
  flex 0 0 auto
  border-bottom 1px solid $borderColor

.draft__selected-action
  display flex
  padding 0 16px 16px

.draft__selected-title
  font-size 2em
  font-weight 500
  padding 16px

.draft__selected-alt
  padding 0 16px 16px
  display flex
  align-items center
  div
    display inline-block
    + div
      margin-left 8px

.draft__selected-body
  flex 1
  overflow hidden
  overflow-y scroll
  display flex
  flex-wrap wrap
  div
    flex 1
    padding 16px
    font-weight 900
  label
    font-size 10px
    font-weight 500
    display block
    color lighten($textColor, 30)

.draft__main
  flex 4
  border-left 1px solid $borderColor
  border-right 1px solid $borderColor
  display flex
  flex-direction column

.draft__main-board
  flex 1
  border-bottom 1px solid $borderColor
  display flex
  height 100%

.draft__main-board-pos
  flex 1
  display flex
  flex-direction column
  + .draft__main-board-pos
    border-left 1px solid $borderColor

.draft__main-board-pos-head
  flex 0 0 auto
  display flex
  justify-content center
  align-items center
  padding 8px
  border-bottom 1px solid $borderColor

.draft__main-board-pos-body
  flex-grow 1
  min-height 0
  overflow hidden
  overflow-y scroll
  padding-top 8px

.draft__side
  flex 1
  display flex
  flex-direction column

.draft__side-top
  flex 0 0 auto
  height 150px
  background #fafafa
  padding 16px
  border-bottom 1px solid $borderColor

.draft__side-main
  flex 9
  overflow-y scroll
  padding 16px
