.player__name
  display flex
  align-items center
  flex 1
  min-width 0

  .player__name-headshot
    margin-right 8px
    height 100%
    display flex
    align-items flex-end
    .player__headshot:not(.square)
      border-radius 0

  &.large
    .player__name-headshot
      display flex
      align-items flex-end

.player__name-position
  flex 0 0 34px
  display flex

.player__name-main
  flex 1
  overflow hidden
  display flex
  flex-direction row
  line-height 20px
  max-height 35px

  .player__name-top
    overflow hidden
    text-overflow ellipsis
    margin-right 4px

  &:hover
    color $accentColor

.player__name-label
  flex 0 0 20px
  display flex
  align-items center

.player__name-lead
  flex 0 0 auto
  display flex
  flex-direction column
  padding 8px 16px 0 24px
  justify-content center

.player__name-first
  font-weight 400
  text-transform uppercase

.player__name-last
  font-weight 600
  font-size 2em
  text-transform uppercase

.player__name-meta .position
  margin-right 8px

@media (max-width 600px)
  .player__name .player__name-headshot
    margin-right 4px