.player__name
  display flex
  align-items center
  flex 1

  .player__name-headshot
    margin-right 8px
    .player__headshot
      border-radius 0

.player__name-position
  flex 0 0 34px
  display flex

.player__name-main
  flex 1
  overflow hidden
  text-overflow ellipsis
  line-height 20px
  max-height 40px
  &:hover
    color $accentColor

  span:first-child
    padding-right 5px

.player__name-label
  flex 0 0 20px
  display flex
  align-items center
