.player__name
  display flex
  align-items center
  flex 1

.player__name-headshot
  margin-left 12px
  margin-right 8px

.player__name-position
  flex 0 0 34px
  display flex

.player__name-main
  flex 1
  overflow-x hidden
  text-overflow ellipsis
  white-space nowrap
  line-height 20px
  &:hover
    color $accentColor

  span:first-child
    padding-right 5px

.player__name-label
  flex 0 0 20px
