.rosters
  padding 16px
  display flex
  overflow auto

.rosters__body
  display flex
  margin-left 90px

.rosters__head
  padding-top 30px
  position absolute
  width 90px
  .roster__item
    background darken($backgroundColor, 7%)
    display flex
    justify-content center
    color lighten($textColor, 30%)
