.rosters
  padding 16px
  display flex
  overflow auto

.rosters__body
  display flex
  margin-left 48px

.rosters__head
  padding-top 30px
  position absolute
  width 48px
  margin-bottom 32px
  z-index 1
  .roster__item
    background darken($backgroundColor, 7%)
    display flex
    justify-content center
    color lighten($textColor, 30%)
    padding 0 4px
