.rosters
  padding 16px
  display flex
  overflow auto
  flex-wrap wrap

.rosters__body
  display flex
  margin-left 48px

.rosters__head
  padding-top 32px
  position absolute
  width 48px
  margin-bottom 32px
  z-index 1
  .roster__item
    background darken($backgroundColor, 7%)
    display flex
    justify-content center
    color lighten($textColor, 30%)
    padding 0 4px

.rosters__footer
  padding 16px
  background white
  border-top 1px solid $borderColor

.rosters__picks
  display flex
  margin-left 48px

  .dashboard__draft-picks
    flex-direction column
    min-width 220px
    border-right 1px solid $borderColor

  .season__draft-picks
    flex 1
    width 219px
    padding 16px 4px
    margin 0
    border 0
    border-radius 0
