.league__recent-transaction
  display flex
  border-bottom 1px solid $borderColor
  .transaction__timestamp
    display flex
    align-items center
    font-size 11px
    margin-left 4px
    padding-left 4px
    color rgba(0,0,0,0.4)
    width 20px
    margin 8px 0

.transactions__section.MuiGrid-root
  display flex
  flex-direction column

.transactions__section-title
  font-family 'IBM Plex Mono', monospace
  letter-spacing .2em
  text-transform uppercase
  font-size 12px
  font-weight 800
  padding 16px 0
