.restricted-free-agency-container
  padding 16px

.restricted-free-agency__filter
  display flex
  gap 12px
  margin-bottom 16px

.restricted-free-agency__empty
  color #757575
  padding 32px 0
  text-align center
