.transaction
  display flex
  background white
  border-radius 3px
  overflow hidden

  .player__name-position
    order 10
  .player__name-label
    display none

.transaction__value
  flex 0 0 35px
  display flex
  align-items center
  font-size 14px
  font-weight bold
  margin-left 16px

.transaction__timestamp
  flex 0 0 auto
  display flex
  justify-content flex-end
  .timestamp
    font-size 10px
  .timestamp__date
    min-width 100px
  .timestamp__time
    min-width 80px

.transaction__type
  flex 0 0 80px
  display flex
  text-transform uppercase
  align-items center
  color lighten($textColor, 40%)
  font-size 12px
  font-weight bold

.transaction__player
  flex 1
  display flex
  padding 0 16px

.transaction__team
  flex 1
  display flex
  align-items center
  max-width 130px
  .team__name
    padding 0
    font-size 12px
  .team__image
    margin 4px
    height 30px
    width 30px

.transaction__top
  display flex
  justify-content space-between
  background lighten(yellow, 90%)
  padding 0 8px

.transaction__body
  display flex
  justify-content space-between

@media (min-width 601px)
  .transaction
    height 39px

@media (max-width 800px)
  .transaction__type
    padding 8px 0

  .transaction__timestamp .timestamp
    flex-direction row
    flex-wrap wrap
    width 100px

@media (max-width 600px)
  .transaction
    margin-top 4px
    flex-direction column
    border 1px solid $borderColor
    border-radius 8px

  .transaction__type
    color $textColor
    min-width 120px

  .transaction__team
    max-width 80px

  .transaction__timestamp
    .timestamp
      flex-wrap nowrap
      width 100%

    .timestamp__date
    .timestamp__time
      justify-content flex-end
      min-width auto
