.transaction
  display flex
  background white
  border-radius 3px
  padding 0 16px

.transaction__value
  flex 0 0 50px
  display flex
  align-items center

.transaction__timestamp
  flex 0 0 100px
  display flex

.transaction__type
  flex 0 0 100px
  display flex
  text-transform uppercase
  align-items center
  color lighten($textColor, 40%)

.transaction__player
  flex 1
  display flex

.transaction__team
  flex 1
  display flex
  align-items center
  max-width 200px
