.main__menu
  .MuiAppBar-root
    z-index 1
    border-bottom 1px solid $borderColor
  .MuiToolbar-root a
    padding 0 12px
    height 36px
    display flex
    align-items center
    border-radius 3px
    font-family 'IBM Plex Mono'
    &:hover
      background-color rgba(0,0,0,0.08)

    &.active
      font-weight 600
      background white

.MuiDrawer-paper.main__menu-paper
  width 250px

@media (min-width 1051px)
  .main__menu .MuiToolbar-root
    justify-content center
    .main__menu-button
      display none

@media screen and (max-width 1050px)
  .main__menu .MuiToolbar-root a
    display none
