.position
  flex 0 0 auto
  padding 0 4px
  font-size 11px
  font-weight 500
  border-radius 4px
  color white
  display inline
  height 19px
  line-height 19px
  background #666666
  &.QB
    background $qb_color
  &.WR
    background $wr_color
  &.RB
    background $rb_color
  &.TE
    background $te_color
  &.K
    background $k_color
  &.DST
    background $dst_color
