.scoreboard__play
  padding 5px

.scoreboard__play-info
  display flex
  justify-content center
  background $borderColor
  padding 2px 8px
  font-size 11px

.scoreboard__play-description
  padding 4px
  font-size 12px
  line-height 1.2em
