.scoreboard__play

  &.td
    background lighten(yellow, 60%)

.scoreboard__play-info
  display flex
  background $borderColor
  padding 2px 8px
  font-size 11px

.scoreboard__play-info-time
  flex 0 0 60px

.scoreboard__play-info-play
  flex 1
  display flex
  justify-content flex-end

.scoreboard__play-description
  padding 4px
  font-size 12px
  line-height 1.2em

.scoreboard__play-players
  display flex
  flex-direction column
  width 100%

.scoreboard__play-player
  display flex
  padding 4px 8px
  align-items center

.scoreboard__play-player-name
  display flex
  flex 1
  padding-right 8px

.scoreboard__play-player-points
  flex 0 0 50px
