.selected__player-transactions
  padding 16px
  display flex

  .MuiTableContainer-root
    background white
    border-radius 8px
    margin-bottom 16px

  .MuiTableHead-root .MuiTableCell-sizeSmall
    font-size 12px
    font-weight 600
    font-family 'IBM Plex Mono', monospace

.selected__player-transactions-all
  flex 1

.selected__player-transactions-summary
  flex 0 0 300px
  padding 0 16px
