$todayColor = darken(#f0f0f0, 30%)

.draft__schedule-row
  display flex
  border-bottom 1px solid $borderColor

.draft__schedule-cell
  flex 1
  padding 4px
  display flex
  align-items center
  justify-content center
  &.today
    background $todayColor
  &.start
    background green
    color white
  &.pick
    background $accentColor
    color white
  + .draft__schedule-cell
    border-left 1px solid $borderColor

.draft__schedule-title
  display flex
  justify-content center
  align-items center
  padding 8px
  font-size 15px
  font-weight 500
  border-bottom 1px solid $borderColor
  background #fafafa

.draft__key
  display flex
  justify-content center
  align-items center

.draft__key-start
.draft__key-pick
.draft__key-today
  line-height 16px
  padding 8px

.draft__key-start:before
.draft__key-pick:before
.draft__key-today:before
  content ""
  display inline-block
  align-items center
  width 8px
  height 8px
  margin-right 5px

.draft__key-start:before
  background green

.draft__key-pick:before
  background $accentColor

.draft__key-today:before
  background $todayColor
